extends layout

block content

  li(style='list-style-type:none')
    div.kutu
      label Motor 0
      input.RSSICoefficient(id='motor0', value='90', type='range', min='0', max='180', step='1', oninput= 'abc(this)')
    br
    br
    div
      label Motor 1
      input.RSSICoefficient(id='motor1', value='90', type='range', min='0', max='180', step='1', oninput= 'abc(this)')
    br
    br
    div
      label Motor 2
      input.RSSICoefficient(id='motor2', value='90', type='range', min='0', max='180', step='1', oninput= 'abc(this)')
    br
    br
    div
      label Kıskaç
      input.RSSICoefficient(id='kiskac', value='0', type='range', min='0', max='180', step='1', oninput= 'abc(this)')
    br
    br
  

  script(src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous")
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/app.js')
  script(src='javascripts/chat.js')
  script(src='https://use.fontawesome.com/releases/v5.0.13/js/all.js')
