extends layout

block content
    #Stats-output
    // Div which will hold the Output
    #WebGL-output
    script.
        PleaseRotateOptions = {
        message: "Lütfen Cihazınızı Yatay Konuma Getirin ve Sayfayı Yenileyin",
        subMessage: "",
        allowClickBypass: false,
        onlyMobile: true,
        };

    script(type='module' src='javascripts/threejsapp.js')
    script(src='javascripts/pleaserotate.js')
