extends layout

block content

  li(style='list-style-type:none')
    a(href="robot-control" style='text-decoration:none; color: #bada55;')
      h1 RC Araç

  script(src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous")
  // script(src='/socket.io/socket.io.js')
  // script(src='javascripts/app.js')
  script(src='https://use.fontawesome.com/releases/v5.0.13/js/all.js')
