extends layout

block content

  li(style='list-style-type:none')
    a(href="rc-arac" style='text-decoration:none; color: #bada55;')
      h1 RC Araç
    br
    a(href="spot-nano" style='text-decoration:none; color: #bada55;')
      h1 Spot Nano
    br
    a(href="spot-kontrol" style='text-decoration:none; color: #bada55;')
      h1 Spot Kontroller
    br
    a(href="robot-arm" style='text-decoration:none; color: #bada55;')
      h1 Robot Arm


  script(src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous")
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/app.js')
  script(src='https://use.fontawesome.com/releases/v5.0.13/js/all.js')
